<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Automozo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
				<key>dateExpires</key>
				<string>9/5/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ASBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BFPaperButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CircularSpinner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DateTimePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LocationPickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Material.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Parse.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE8228A43FA6B1672ADFE1A28CC612C445C932D2</string>
						<key>dateExpires</key>
						<string>9/5/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSSideMainMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8DLM47CZ8G</string>
						<key>name</key>
						<string>Pedro Alonso</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8DLM47CZ8G.com.automozoinc.Automozo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8DLM47CZ8G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Automozo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f93e6649-86be-41ad-a421-d63096f52e05</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.automozoinc.Automozo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8DLM47CZ8G</string>
				<key>name</key>
				<string>Pedro Alonso</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
